<!doctype html>
<html>
<head>
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" type="text/css" href="/semantic/semantic.css">
    <script src="/jquery-2.1.4.min.js"></script>
    <script src="/semantic/semantic.js"></script>
</head>
<body>
    <div class="ui container">
    <h1>九十剑</h1>
    <form method="get" action="/search">
        <div class="ui icon input">
            <input type="text" placeholder="Search..." name="s">
        </div>
    </form>
    </div>
</body>
</html>